{% extends 'core/base.html' %}

{% block title %}
    | Nosotros
{% endblock title %}

{% block content_title %}
  Acerca de nosotros...
{% endblock content_title %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center">
      <h1 class="display-4">Bienvenido a Fútbol Store!</h1>
      <p class="lead">Somos amantes del fútbol! Creamos esta aplicación con el objetivo de brindarles a los usuarios la posibilidad de comprar y vender camisetas desde y hacia cualquier parte del mundo.</p>

      <h5>Nuestro Equipo</h5>
      
      <ul class="list-group">
        <li class="list-group-item">Lucas - CEO</li>
      </ul>
    </div>
  </div>
{% endblock content %}