{% extends 'core/base.html' %}


{% block content_title %}
  Acerca de nosotros...
{% endblock content_title %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="text-center">
      <h1 class="display-4">Bienvenido a Fútbol Store!</h1>
      <p class="lead">Somos un grupo de amantes del fútbol que creamos una aplicación para que cualquier usuario del mundo pueda comprar y vender camisetas.</p>

      <h5>Nuestro Equipo</h5>
      <ul class="list-group">
        <li class="list-group-item">Lucas - CEO</li>
        <li class="list-group-item">Juan - CTO</li>
      </ul>
    </div>
  </div>
{% endblock content %}